{#
/**
 * @file
 * Default theme implementation to output communico item
 *
 * Available variables:
 *   - details
 *
 * @ingroup themeable
 */
#}
<div class="cp-communico-item">
  <div class="details">{{ filter_form }}</div>
</div>
