{#
/**
 * @file
 * Template for the "communico_plus_filter_form" form elements
 *
 * Available variables
 * - children: The child elements of the form.
 *
 * @ingroup themeable
 */
#}
{#  dump(children) #}
<form{{ attributes }}>
  {{ children }}
</form>

